{% extends "base.html" %}

{% block content %}

  <h1>Index Page</h1>

  <ul>
    {% for person in people %}
      <li>{{person}}</li>
    {% endfor %}
  </ul>

  <h3>New Person</h3>
  <form action="/" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" required>

    <label for="age">Age:</label>
    <input type="number" name="age" required>

    <label for="job">Job:</label>
    <input type="text" name="job" required>

    <button type="submit">Submit</button>
</form>

{% endblock content %}